<div id="camera">

</div>
<a class="btn btn-primary" v-on:click="navigateBack()" ><span class="glyphicon glyphicon-pencil"></span> Edit</a>
<script src='assets/davvag-cms/ar/js/three.js'></script>
	<script src='assets/davvag-cms/ar/js/OBJLoader.js'></script>
	<script src='assets/davvag-cms/ar/js/MTLLoader.js'></script>
	<!-- include jsartookit -->
	<script src="assets/davvag-cms/ar/jsartoolkit5/artoolkit.min.js"></script>
	<script src="assets/davvag-cms/ar/jsartoolkit5/artoolkit.api.js"></script>
	<!-- include threex.artoolkit -->
	<script src="assets/davvag-cms/ar/threex/threex-artoolkitsource.js"></script>
	<script src="assets/davvag-cms/ar/threex/threex-artoolkitcontext.js"></script>
	<script src="assets/davvag-cms/ar/threex/threex-arbasecontrols.js"></script>
	<script src="assets/davvag-cms/ar/threex/threex-armarkercontrols.js"></script>